/* red : #d43f4a;
blue : #294d9b;
black : #1a1426; */

@font-face {
    font-family: 'Stardust';
    src: url('../font/Stardust-UltraCondensedMedium.woff2') format('woff2'),
        url('../font/Stardust-UltraCondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC New Baskerville Std';
    src: url('../font/NewBaskervilleStd-Roman.woff2') format('woff2'),
        url('../font/NewBaskervilleStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'ITC New Baskerville Std';
    width: 100%;
    overflow-x: hidden;
    /* max-width: 450px; */
}

h1, h2, h3 {
    font-family: 'Stardust';
    font-size: 50px;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    width: 70%;
    margin-top: 80%;
    margin-left: 20%;
}

button {
    font-size: 15px;
    background-color: #d43f4a;
    color: #294D9B;
    padding: 10px 20px;
    border: none;
    font-family: 'Stardust';
    position: relative;
    width: 30%;
    margin-top: 50px;
    left: 35%;
}

button a {
    text-decoration: none;
    font-size: 20px;
    color: #294D9B;
}

.placement {
    margin-top: 60%;
    background-color: #294d9b;
    color: #d43f4a;
    padding: 15px;
}

.clubeurparagraphe {
    background-color: #294d9b;
    color: #d43f4a;
    padding: 15px;
    margin-top: 50%;
}

section {
    height: 100vh;
    width: 100vw;
}

.home {
    background-color: #1a1426;
}

.clubeur {
    /* background-color: #d43f4a; */
    color: #294d9b;
}

.homeTitle {
    color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    animation: tilt-shaking 1.5s infinite;
}

.homeEtiquetteClub {
    background-color: #294d9b;
    color: #d43f4a;
    font-size: 40px;
    width: max-content;
    position: relative;
    padding: 0 20px;
    top: 10%;
}

.homeEtiquetteClubeur {
    background-color: #d43f4a;
    color: #294d9b;
    font-size: 40px;
    width: max-content;
    text-align: end;
    padding: 0 20px;
    position: absolute;
    top: 70%;
    right: 0;
}

#test {
    margin-top: 80px;
}

.number {
    position: absolute;
    height: 100vh;
}

.homeEtiquetteClub-space {
    margin-bottom: 20px;
}

.clubeur-clubeur1 {
    background-image: url(../img/ProtegeVerre.jpg);
}

.clubeur-clubeur2 {
    background-image: url(../img/Accompagne.jpg);
}

.clubeur-clubeur3 {
    background-image: url(../img/ParlesEn.jpg);
}

.clubeur-clubeur4 {
    background-image: url(../img/Pas_De_Photos.jpg);
}

.club {
    background-color: #294D9B;
}

.titleClub {
    text-transform: uppercase;
    font-size: 55px;
    color: #d43f4a;
    width: 80%;
    padding-top: 40px;
}

h4 {
    font-size: 40px;
    background-color: #d43f4a;
    text-align: center;
    font-family: 'Stardust';
    width: 60%;
    margin: auto;
    margin-top: 50%;
}

.clubParagraphe {
    margin-top: 50%;
    background-color: #d43f4a;
}

.clubParagraphe-space {
    margin-top: 15%;
}

/* ---------Menu Burger--------- */

.homeEtiquetteClub-menuElement {
    left: -13px;
    top: -90px;
}

/* a:active {
    transform: scale(1);
    transform: translateX(400px);
    transition: transform 0.2s ease-in-out;
    
} */

/* .homeEtiquetteClubeur-menuElement {

} */

.navbar {
    width: 100%;
    position: fixed;
    z-index: 667;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu-items {
    display: flex;
    justify-content: space-around;
}

.navbar .nav-container li {
    list-style: none;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 200;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #294d9b;
    z-index: 50;
}


.nav-container .hamburger-lines .lineclub {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #d43f4a;
    z-index: 50;
}


.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    background-color: #0e2431;
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
}

.menu-items ul li {
    margin: 10px 0;
    height: 48px;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}